/*
  Table of Contents
    1. General
    2. Flex
    3. Main Header
    4. Main Controls
    5. Section
    6. Section
    7. Main Footer
    8. Media Queries
*/

/***********************************
1. GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: #FEF9FF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-container {
  margin: 0;
  padding: 0 4%;
}

button {
  border-radius: 4px;
  font-size: 1rem;
  border: 3px solid #D4C1EC;
  background-color: #FEF9FF;
  padding: 0.6rem 0.8rem;
  color: #9F9FED;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button:hover {
  border: 3px solid #736CED;
  color: #736CED
}

/***********************************
2. FLEX
***********************************/

.logo {
  display: flex;
  justify-content: center;
}



/***********************************
3. MAIN HEADER
***********************************/

.main-header h1,
.fa-bookmark {
  color: #736CED;
}

.main-header {
  padding: 2em 1.7em;
  font-size: 1.3rem;
}

.main-header h1 {
  margin: 0;
}

.error,
.default-controls {
  text-align: center;
}

button.error-button {
  font-size: 0.8rem;
  background-color: tomato;
  border: 1px solid tomato;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 5px;
  height: 40px;
}

.err-exit {
  font-size: 2em;
  margin-left: 0.25em;
}



/***********************************
4. MAIN CONTROLS
***********************************/

.add-bm-controls {
  display: none;
}


/***********************************
5. SECTION
***********************************/



/***********************************
6. SECTION
***********************************/



/***********************************
7. MAIN FOOTER
***********************************/

.main-footer {
  color: #9F9FED;
  text-align: center;
}

.fa-heart {
  color: red;
}



/***********************************
8. MEDIA QUERIES
***********************************/
