/*
  Table of Contents
    1. General
    2. Main Header
    3. Section
    4. Section
    5. Section
    6. Main Footer
    7. Colors & Borders
    8. Media Queries
*/

/***********************************
GENERAL
***********************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}



/***********************************
MAIN HEADER
***********************************/



/***********************************
PAGE
***********************************/



/***********************************
PAGE
***********************************/



/***********************************
PAGE
***********************************/



/***********************************
MAIN FOOTER
***********************************/



/***********************************
COLORS & BORDERS
***********************************/



/***********************************
MEDIA QUERIES
***********************************/
